{% extends "home/base.html" %}
{% load static %}
{% block content %}
<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->
<<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/home">{{ settings.APP_NAME }}</a>
      </div>
      <!-- https://stackoverflow.com/questions/22047251/django-dynamically-get-view-url-and-check-if-its-the-current-page -->
      <ul class="nav navbar-nav">
        {% url 'home' as home %}
        <li {% if request.get_full_path == home %}class="active"{% endif %}>
            <a href="{% url 'home:all' %}">Posts</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
          <a href="{% url 'home:post_create' %}">Create Post</a>
          </li>
          <li class="dropdown">
              <ul class="dropdown-menu">
                  <li><a href="{% url 'logout' %}?next={% url 'home:all' %}">Logout</a></li>
              </ul>
          </li>
          {% else %}
          <li>
          <a href="{% url 'login' %}?next={% url 'home:all' %}">Login</a>
          </li>
          {% endif %}
      </ul>
    </div>
  </nav>
  {% endblock %}


